*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

html
{
   scroll-behavior:smooth
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242729;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
pre {
  padding: 12px;
}
a {
  text-decoration: none;
}
a, .s-link {
  color: #07C;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* */
.w-100 {
  width: 100% !important;
}

/* POSITION  */
.ps-relative {
  position: relative !important;
}
.ps-absolute {
  position: absolute !important;
}
.ps-fixed {
  position: fixed !important;
}
.ps-sticky {
  position: sticky !important;
}

/* DISPLAY */
.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline {
  display: inline !important;
}
.d-none {
  display: none !important;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end
}

/**/
.s-input {
  -webkit-appearance: none;
  margin: 0;
  padding: .6em 2.7em;
  border: 1px solid #bbc0c4;
  border-radius: 3px;
  box-shadow: 0 0 0 rgba(255,255,255,0);
  font-size: 13px;
  font-family: inherit;
  line-height: 1.15384615
}

/* MARGIN */
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mr24 {
  margin-right: 24px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mt24 {
  margin-top: 24px;
}
.mr2 {
  margin-right: 2px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mt16 {
  margin-top: 12px;
}
.ml20 {
  margin-left: 20px;
}

/* PADDING */
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pr2 {
  padding-right: 2px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pr16 {
  padding-right: 16px !important;
}


.container {
  margin: 0 120px;
}

#wrap > .container {
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
}

.fs-headline1 {
  font-size: 2.07692308rem !important;
  font-weight: 360;
}

/* BUTTON */
.s-btn {
  position: relative;
  display: inline-block;
  padding: .8em;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15384615;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-color: rgba(0,89,153,0);
  box-shadow: 0 0 0 0 rgba(0,149,255,0);
  color: #07C;
  transition: .5s;
}
.s-btn__primary:hover {
  color: #FFF;
  background-color: #0095ff;
}
.s-btn__primary {
  background-image: none;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
  color: #333333;
}
.s-btn__outline {
  background: transparent;
}
.s-btn-group {
  min-width: 102px;
}
.s-btn-group .s-btn{
  border: 1px solid;
  border-right-width: 0;
  border-radius: 0;
}
.s-btn-group .s-btn:last-child {
  border-right: 1px solid;
}
.s-btn-group .s-btn__primary:last-child {
  border-color: #07c;
}
.s-btn-group .s-btn__primary{
  border-color: #07c;
}

/* TEXT */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.fw400 {
  font-weight: 400
}
.fw350 {
  font-weight: 350
}
.f13 {
  font-size: 13px;
}

/* CLEAR FIX */
.clear-fix {
  clear: both;
}

@media screen and (max-width: 1290px) {
  .container {
    margin: 0 6px;
  }
  #wrap > .container {
    margin: 0 6px;
  }
}

@media screen and (max-width: 980px) {
  #mainbar {
    width: 100% !important;
  }
  #sidebar {
    margin-top: 24px;
    float: left !important;
    width: 90% !important;
  }
  .nearfooter {
    max-width: 100% !important; 
  }

  .js-search-tags {
    width: 100%;
  }
  .grid-tags {
    display: block !important;
  }
  .grid-tags .s-btn-group {
    margin-top: 24px;
    text-align: right;
  }
}


@media screen and (max-width: 716px) {
  .side-footer--container {
    display: block !important;
  }
  .side-footer--logo {
    float: left;
  }
  .side-footer--nav {
    float: left;
    margin-bottom: 20px;
  }
  .side-footer--nav:nth-child(n + 4) {
    margin-left: calc(48px + 33px);
  }
}

@media screen and (max-width: 526px) {
  #content {
    width: 100% !important;
    border: none !important;
    margin-left: 0 !important;
  }
  .left-sidebar {
    background: white;
    height: auto !important;
    display: none;
    position: fixed !important;
    top: 27px;
    left: 0;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .4) !important;
    width: 220px !important;
    padding: 24px 4px 24px 4px;
    
  }
  .fs-headline1 {
    font-size: 1.276923rem !important;
    font-weight: 360;
  }
  .brand-logo {
    display: none !important;
  }
  .left-sidebar-toggle {
    display: block !important;
  }

  .js-search-field {
    display: none;
  }

  /* svg[aria-hidden="true"] {
    display: none;
  } */
  svg[aria-hidden="false"] {
    display: block !important;
  }
}
@media screen and (min-width: 527px) {
  .left-sidebar-toggle {
    display: none !important;
  }
}


.topbar-icon-on {
  display: block;
}

.oc7 {
  opacity: .7 !important;
}

.fc-light {
  color: #6a737c !important;
}

.bb {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}
.bc-black-2 {
  border-color: #e4e6e8 !important;
}
